.add_product_container{
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    width: 100% !important;
    background-color: black;
}
.table_heading{
    display: flex;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    justify-content: space-evenly;
    border: solid gray 1px;
    color: white;
    font-size: 25px;
}
.header_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
}
.add_product{
    width: 100px;
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(66, 109, 250);
    color: white;
}
.display_item_container{
    width: 800px;
    margin-top: 30px;
    height: 40px;
    color: white;
    border: solid white 1px;
    margin-left: 178px;

}
.title,.description,.cost{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    text-indent: 20px;
    margin-inline:auto ;
    outline: none;
    border: none;
    border: solid gray 1px;
}
.title:focus,.description:focus,.cost:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item_display_container{
    height: 70vh;
    overflow: scroll;
}
.display_item_container{
    display: flex;
    justify-content: space-between;
}
.display_item_container > div{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update,.delete{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}
.update_and_delete{
    display: flex;
    gap: 5px;
}